<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://earnaha.com/favicon.ico">
    <title>Aha Home Exam</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<style>
    .bg-purple {
        background: #d3dce6;
    }

    .grid-content {
        border-radius: 4px;
        font-size: 60px;
        text-align: center;
        color: #333;
        margin-top: 80px;
        padding: 15px;
    }

    .el-statistic .head .title {
        font-size: 18px;
        color: #6e7072;
    }

    .el-statistic .con .number {
        font-size: 26px;
    }

    .el-dialog__body {
        padding-right: 80px;
    }

    .my-button {
        width: 67%;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 16px;
    }
</style>

<body>
    <div id="app">
        <!-- 標題 -->
        <el-row>
            <el-col :span="12" :offset="6">
                <div class="grid-content bg-purple">Aha Home Exam</div>
            </el-col>
        </el-row>
        <!-- 右上按鈕 -->
        <el-row>
            <el-col :span="3" :offset="16">
                <el-button type="primary my-button" @click="returnIndex">
                    返回首頁
                </el-button>
            </el-col>
        </el-row>
        <!-- 用戶統計數據 -->
        <el-row style="margin-bottom: 50px;">
            <el-col :offset="6" :span="4">
                <el-statistic title="註冊人數" :value="allUserCount">
                </el-statistic>
            </el-col>
            <el-col :span="4">
                <el-statistic title="今天訪問人數" :value="todayUserCount">
                </el-statistic>
            </el-col>
            <el-col :span="4">
                <el-statistic title="7天內訪問人數" :value="weekUserCount">
                </el-statistic>
            </el-col>
        </el-row>
        <!-- 用戶列表 -->
        <el-row>
            <el-col :span="12" :offset="6">
                <template>
                    <el-table :data="tableData" style="width: 100%">
                        <el-table-column prop="email" label="Email" width="180">
                        </el-table-column>
                        <el-table-column prop="name" label="用戶名稱" width="180">
                        </el-table-column>
                        <el-table-column prop="signUpTime" label="註冊時間">
                        </el-table-column>
                        <el-table-column prop="loggedInTimes" label="登入次數">
                        </el-table-column>
                        <el-table-column prop="lastVisitedTime" label="最後訪問時間">
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button v-if="scope.row.allowChangePassword" size="mini" type="warning"
                                    @click="changePassword(scope.row.email)">更改密碼
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
            </el-col>
        </el-row>

        <!-- 修改密碼彈窗 -->
        <template>
            <div>
                <el-dialog title="修改密碼" :visible.sync="showDialog" width="30%">
                    <el-form ref="form" :model="form" label-width="120px">
                        <el-form-item label="Email">
                            <el-input v-model="form.email" :disabled="true"></el-input>
                        </el-form-item>
                        <el-form-item label="原密碼">
                            <el-input type="password" v-model="form.oldPwd"></el-input>
                        </el-form-item>
                        <el-form-item label="新密碼">
                            <el-input type="password" v-model="form.newPwd"></el-input>
                        </el-form-item>
                        <el-form-item label="確認新密碼">
                            <el-input type="password" v-model="form.checkNewPwd"></el-input>
                        </el-form-item>
                    </el-form>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="showDialog = false">取消</el-button>
                        <el-button type="primary" @click="submitForm">確定</el-button>
                    </span>
                </el-dialog>
            </div>
        </template>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>

    new Vue({
        el: '#app',
        data: {
            tableData: [],
            allUserCount: 0,
            todayUserCount: 0,
            weekUserCount: 0,
            showDialog: false,
            form: {
                email: '',
                oldPwd: '',
                newPwd: '',
                checkNewPwd: ''
            }
        },
        created: function () {
            this.getTableData();
            this.getUserStatistic();
        },
        methods: {
            // 獲取用戶列表
            getTableData: function () {
                let self = this;
                $.ajax({
                    type: "GET",
                    url: "/user/all",
                    success: function (json) {
                        self.tableData = json.data;
                    },
                    error: function (json) {
                        self.$message.error('獲取用戶列表數據失敗');
                    }
                });
            },
            // 獲取用戶統計數據
            getUserStatistic: function () {
                let self = this;
                $.ajax({
                    type: "GET",
                    url: "/user/all/statistic",
                    success: function (json) {
                        self.allUserCount = json.data.allUserCount;
                        self.todayUserCount = json.data.todayUserCount;
                        self.weekUserCount = json.data.weekUserCount;
                    },
                    error: function (json) {
                        self.$message.error('獲取用戶統計數據失敗');
                    }
                });
            },
            // 設置更改密碼彈窗內容
            changePassword(email) {
                this.showDialog = true;
                this.form.email = email;
                this.form.oldPwd = '';
                this.form.newPwd = '';
                this.form.checkNewPwd = '';
            },
            // 發送更新密碼的請求
            submitForm() {
                let self = this;
                $.ajax({
                    type: "POST",
                    url: "/user/password",
                    data: JSON.stringify({
                        email: self.form.email,
                        oldPwd: self.form.oldPwd,
                        newPwd: self.form.newPwd,
                        checkNewPwd: self.form.checkNewPwd
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        self.$message({
                            message: result.message,
                            type: 'success'
                        });
                        self.showDialog = false;
                    },
                    error: function (result) {
                        self.$message.error(result.responseJSON.message);
                    }
                });
            },
            // 返回首頁
            returnIndex() {
                location.href = '/';
            }
        }
    })

</script>

</html>